@using WebCrawler.Web.Logic.Helpers;
@using WebCrawler.Web.Logic.ViewModels;
@model PagedList<CrawledSiteViewModel>

<div class="container">
    <div class="row">
        @using (Html.BeginForm("CrawlSite", "CrawledSites"))
        {
            <table class="table-borderless">
                <tr>
                    <td> Enter a website: </td>
                    <td> <input type="text" name="input" /></td>
                    <td> <input class="btn btn-primary" type="submit" value="Test" /></td>
                </tr>
            </table>
        }
    </div>
    <br />
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Test Results </h2>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Url
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var crawledSite in Model.Items)
            {
                <tr>
                    <td>
                        @crawledSite.Url
                    </td>
                    <td>@crawledSite.CrawlDate</td>
                    <td align="center">
                        <a asp-controller="CrawlResults" asp-action="Index" asp-route-Id="@crawledSite.Id" class="btn btn-primary">Show Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @if (Model.HasPreviousPage)
        {
            <a asp-controller="CrawledSites" asp-action="Index"
           asp-route-pageNumber="@(Model.PageNumber - 1)" class="btn btn-primary"> Previous </a>
        }
        @if (!Model.HasPreviousPage)
        {
            <button class="btn btn-dark"> Previous </button>
        }
        @if (Model.HasNextPage)
        {
            <a asp-controller="CrawledSites" asp-action="Index"
           asp-route-pageNumber="@(Model.PageNumber + 1)" class="btn btn-primary"> Next </a>
        }
        @if (!Model.HasNextPage)
        {
            <button class="btn btn-dark"> Next </button>
        }
    </div>
</div>
