@model WebCrawler.Application.Models.CrawledSiteDto


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">@Model.Url</h2>
        </div>
    </div>
    <br />
    <h2>Perfomance</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Url
                </th>
                <th>
                    Timings(ms)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var crawledSiteResult in Model.SiteCrawlResults)
            {
                <tr>
                    <td>
                        @crawledSiteResult.Url
                    </td>
                    <td>@crawledSiteResult.ResponseTimeMs</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    @if (Model.OnlySitemapResults.Any())
    {
        <h2>Urls not found at website :</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Url
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var crawledSiteResult in Model.OnlySitemapResults)
                {
                    <tr>
                        <td>
                            @crawledSiteResult.Url
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (!Model.OnlySitemapResults.Any())
    {
        <h3 class="text-body">Urls list founded in sitemap.xml but not founded after crawling a website is empty.</h3>
    }
    <br />
    @if (Model.OnlySiteResults.Any())
    {
        <h2>Urls not found at sitemap.xml :</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Url
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var crawledSiteResult in Model.OnlySiteResults)
                {
                    <tr>
                        <td width="100%">
                            @crawledSiteResult.Url
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (!Model.OnlySiteResults.Any())
    {
        <h3 class="text-body">Urls list founded by crawling the website but not in sitemap.xml is empty.</h3>
    }
</div>

